*{
    box-sizing: border-box;
}
body{
    margin: 60px 50px;
    padding: 10px;
}
.container1{
    margin: 3%;
}
.container{
    background-color: rgb(207, 205, 203);
    padding: 1%;
    border: 5px solid rgb(196, 187, 178);
    word-spacing: 10px;
    border-radius: 1%;
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="date"],
select,textarea{
    width: 100%;
    height: 46px;
    border: 1px solid bisque;
    margin: 2%;
}

fieldset{
    border-radius: 1%;
    width: 100%;
    height: 90px;
    cursor: pointer;
}

.header{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-weight: bolder;
}
input[type="submit"]{
    width: 100%;
    padding: 2%;
    background-color: rgb(96, 217, 96);
    color: white;
    border: rgb(15, 165, 15);
    border-radius: 1%;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(152, 178, 114);
}

